body > h1 {
  margin: 3vh 0 0;
  text-align: center;
}

body > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 65%;
  margin: 0 auto;
}
body > div > button {
  margin: 10px;
}

table.table {
  width: 100%;
  overflow: visible;
}

table > tbody > tr > td {
  width: 100px;
  margin: 0;
}

table > tbody > tr > td > p:first-child {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
table > tbody > tr > td > p:nth-child(2) {
  text-align: center;
  padding: 10px;
  margin: 0;
}
table > tbody > tr > td > p:last-child {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

button.btn-outline-orange {
  border-color: orangered;
  color: orangered;
}
button.btn-outline-orange:hover {
  background-color: orangered;
  color: #fff;
}
button.btn-outline-blue {
  border-color: blue;
  color: blue;
}
button.btn-outline-blue:hover {
  background-color: blue;
  color: #fff;
}
button.btn-outline-purple {
  border-color: purple;
  color: purple;
}
button.btn-outline-purple:hover {
  background-color: purple;
  color: #fff;
}
button.btn-outline-darkblue {
  border-color: darkblue;
  color: darkblue;
}
button.btn-outline-darkblue:hover {
  background-color: darkblue;
  color: #fff;
}

tr > td.family_alcalino {
  background-color: #cff1ff;
}
tr > td.family_metaloides {
  background-color: #faffcf;
}
tr > td.family_actinidos {
  background-color: #ffe4cf;
}
tr > td.family_alcalinoterreo {
  background-color: #ffd6cf;
}
tr > td.family_noreactive {
  background-color: #cfd3ff;
}
tr > td.family_unknown {
  background-color: #b0b0b0;
}
tr > td.family_transition {
  background-color: #e2cfff;
}
tr > td.family_noble {
  background-color: #ffcfea;
}
tr > td.family_posttransition {
  background-color: #cfffe1;
}
tr > td.family_lanthanides {
  background-color: #7696d6;
}
tr > td:hover {
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
}
tr > td.td_disable:hover {
  border: none;
  box-shadow: none;
  cursor: default;
}
