body > h1 {
  margin: 3vh 0;
  text-align: center;
}
table.table {
  width: 100%;
  overflow:visible;
}

table > tbody > tr > td {
  width: 100px;
  margin: 0;
}

table > tbody > tr > td > p:first-child {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
table > tbody > tr > td > p:nth-child(2) {
  text-align: center;
  padding: 10px;
  margin: 0;
}
table > tbody > tr > td > p:last-child {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
